<?xml version="1.0"?>
<rtde_config>
	<recipe key="state">
		<field name="target_q" type="VECTOR6D"/>
#Target joint positions
		<field name="target_qd" type="VECTOR6D"/>
#Target joint velocities
		<field name="target_qdd" type="VECTOR6D"/>
#Target joint accelerations
		<field name="actual_q" type="VECTOR6D"/>
#Actual joint positions
		<field name="actual_qd" type="VECTOR6D"/>
#Actual joint velocities
		<field name="actual_TCP_pose" type="VECTOR6D"/>
#Actual Cartesian coordinates of the tool: (x,y,z,rx,ry,rz)
		<field name="actual_TCP_speed" type="VECTOR6D"/>
#Actual speed of the tool given in Cartesian coordinates. The speed [m/s], the rotational [rad/s]
		<field name="actual_TCP_force" type="VECTOR6D"/>
#Generalized forces in the TCP.
	</recipe>

	<recipe key="setp">
		<field name="input_double_register_0" type="DOUBLE"/>
		<field name="input_double_register_1" type="DOUBLE"/>
		<field name="input_double_register_2" type="DOUBLE"/>
		<field name="input_double_register_3" type="DOUBLE"/>
		<field name="input_double_register_4" type="DOUBLE"/>
		<field name="input_double_register_5" type="DOUBLE"/>
	</recipe>

	<recipe key="watchdog">
		<field name="input_int_register_0" type="INT32"/>
	</recipe>
</rtde_config>